
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0); 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:black;
  padding: 15px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.t1{
  margin-top: 12px;
}

.logo{
  color:rgba(255, 255, 255, 0.825);
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.726);
  font-weight: 500px;
}

.contanier{
    color:aliceblue ;
}