@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.nav-bar{
  background-image: url('download\ \(12\).jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 55px;
}

.Great{
  font-size: 24px;
  display: flex;
  padding-top: 24px;
  color: #2c2c2c;
  gap: 19px;
  padding-inline: 16px;
}

.logo{
  color: white;
  font-size: 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: relative;
  z-index: 2;
  background-color: black;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fbfbfb;
  font-size: 14px;
}

.phone {
  border: 1px solid #fff;
  padding: 6px 14px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

button{
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid #fff;
}
