* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #111;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  color: #777;
}

.header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #ccc;
}

.logo {
  font-size: 24px;
  color: #aaa;
}


.btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.primary {
  background: white;
  color: black;
}

.outline {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.btn :hover{
  background-color: burlywood;
  color: antiquewhite;
}

.hero {
  display: flex;
  align-items: center;
  padding: 60px;
  gap: 40px;
}
/* 
nav :hover{
  color:white;
  background-color: beige;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
} */

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text p {
  margin: 20px 0;
  color: #aaa;
}

.hero-buttons :hover{
  background-color: aqua;
}

.btn outline :hover{
  color: #111;
}

.hero-image img {
  width: 100%;
  border-radius: 20px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 60px;
}

.feature-card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 20px;
}

.features :hover{
  background-color: white(8, 106, 191);
}

.gallery {
  padding: 60px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 15px;
}


.highlight {
  display: flex;
  padding: 60px;
  gap: 40px;
}

.highlight img {
  width: 50%;
  border-radius: 20px;
}

.highlight h3{
  font-size: 24px;
  margin-bottom: 23px;
}


.testimonial {
  padding: 60px;
  text-align: center;
  background: #1a1a1a;
}


footer {
  text-align: center;
  padding: 20px;
  color: #777;
}


@media (max-width: 900px) {
  .hero,
  .highlight {
    flex-direction: column;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }

  .header {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    font-size: 32px;
  }
}
